<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title" style="display: inline-block"> Receitas à Vencer</h4>
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table">
                      <thead class=" text-primary">
                      <th *ngFor="let titulo of tituloTabela">
                          {{titulo}}
                      </th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let receita of receitas">
                            <td>
                              {{receita.id}}
                            </td>
                            <td>
                              {{receita.notaFiscal}}
                            </td>
                            <td>
                              {{receita.dataVencimento | date}}
                            </td>
                            <td>
                              {{receita.valor}}
                            </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
