<div class="card mx-auto">
    <div class="card-header">
        <h4 class="card-title"> Cadastrar Fornecedor/Cliente </h4>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome" [(ngModel)]="formulario.nome">
                </div>
                <div class="form-group col-md-6">
                    <label for="cnpj">CNPJ</label>
                    <input type="text" class="form-control" id="cnpj" placeholder="CNPJ" [(ngModel)]="formulario.cnpj">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Email" [(ngModel)]="formulario.email">
                </div>
                <div class="form-group col-md-6">
                    <label for="descricao">Descrição</label>
                    <input class="form-control" type="text" name="descricao" id="descricao" placeholder="Descrição" [(ngModel)]="formulario.descricao">
                </div>
            </div>


            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input class="form-control"  type="text" name="telefone" id="telefone" placeholder="Telefone" [(ngModel)]="formulario.telefone">
            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <span>Tipo: </span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input margin-left" type="radio"
                               [value]="EnumTipoRelacionameto.FORNECEDOR"
                               [(ngModel)]="formulario.status"
                               id="radioTipoFornecedor"
                               name="radioTipoRelacionamento">
                        <label class="form-check-label" for="radioTipoFornecedor">
                            Fornecedor
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input margin-left" type="radio"
                               [value]="EnumTipoRelacionameto.CLIENTE"
                               [(ngModel)]="formulario.status"
                               id="radioTipoCliente"
                               name="radioTipoRelacionamento">
                        <label class="form-check-label" for="radioTipoCliente">
                            Cliente
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-danger btn-lg btn-block" (click)="cadastrarDespesa()">{{isEditar ? 'Atualizar' : 'Cadastrar'}}</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-warning btn-lg btn-block" (click)="limparCampos()">{{isEditar ? 'Cancelar' : 'Limpar'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Despesas</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th *ngFor="let titulo of tituloTabela">
                                {{titulo}}
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fornecedor of fornecedores">
                                <td>
                                    {{fornecedor.id}}
                                </td>
                                <td>
                                    {{fornecedor.nome}}
                                </td>
                                <td>
                                    {{fornecedor.cnpj}}
                                </td>
                                <td>
                                    {{fornecedor.email}}
                                </td>
                                <td>
                                    {{fornecedor.descricao}}
                                </td>
                                <td>
                                    {{fornecedor.telefone}}
                                </td>
                                <td>
                                    {{fornecedor.status}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="deletar(fornecedor.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-primary ml-2" (click)="atualizar(fornecedor)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
